<a href="https://colab.research.google.com/github/claredavies/InterviewTaskDataCleaning/blob/main/InterviewDataPrepTask.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Libraries

In [37]:
import numpy as np
from google.colab import files
import pandas as pd
from matplotlib import pyplot as plt
from pandas.api.types import is_numeric_dtype
from pandas.api.types import is_string_dtype

In [41]:
pd.set_option('display.max_rows', None)

# Read in files

In [2]:
!git clone https://github.com/claredavies/InterviewTaskDataCleaning.git

Cloning into 'InterviewTaskDataCleaning'...
remote: Enumerating objects: 13, done.
remote: Counting objects: 100% (13/13), done.
remote: Compressing objects: 100% (11/11), done.
remote: Total 13 (delta 2), reused 0 (delta 0), pack-reused 0
Unpacking objects: 100% (13/13), done.

In [3]:
%cd InterviewTaskDataCleaning

/content/InterviewTaskDataCleaning

In [4]:
df = pd.read_csv('InputData.csv')
df.head(3)

,Ref,First_Name,Last_Name,Email,Gender,IP_Address,Date_of_Birth
0,1,Germayne,Simmons,gsimmons0@cdbaby.com,Male,24.48.223.251,18/11/1959
1,2,Cosmo,Pleass,cpleass1@netscape.com,Male,108.87.136.28,08/11/1935
2,3,Henrik,Boag,hboag2@bizjournals.com,Male,221.105.60.101,07/10/1989

# Functions

In [5]:
def boolCheckLengthOverLimitString(value, limit):
  lengthFound = len(value)
  if(lengthFound > limit):
    return True
  else:
    return False

In [10]:
def boolCheckLengthOverLimitInt(value, limit):
  stringValue = str(value)
  return boolCheckLengthOverLimitString(stringValue, limit)

In [68]:
def checkCaseCorrect(word):
  lengthWord = len(word)
  if word[0].isupper() == False:
    return False
  for i in range(1, lengthWord):
    if word[i].isupper() == True:
      return False
  return True

# Check Duplicates

In [10]:
dfWithoutRef = df.drop('Ref', axis=1)
dfWithoutRef.head(3)

,First_Name,Last_Name,Email,Gender,IP_Address,Date_of_Birth
0,Germayne,Simmons,gsimmons0@cdbaby.com,Male,24.48.223.251,18/11/1959
1,Cosmo,Pleass,cpleass1@netscape.com,Male,108.87.136.28,08/11/1935
2,Henrik,Boag,hboag2@bizjournals.com,Male,221.105.60.101,07/10/1989

In [11]:
duplicate = df[dfWithoutRef.duplicated()]
print("Duplicate Rows :")
print(duplicate)

Duplicate Rows :
Empty DataFrame
Columns: [Ref, First_Name, Last_Name, Email, Gender, IP_Address, Date_of_Birth]
Index: []

# Check size - should be 1000

# Check Ref Column

In [30]:
# check numeric
print(is_numeric_dtype(df['Ref']))

# check all values unique
print(df['Ref'].is_unique)

True
True

In [51]:
# check each row
for index, row in df.iterrows():
    if boolCheckLengthOverLimitInt(row['Ref'], 8) == True:
      print(row['Ref'])

    if pd.isna(row['Ref']):
      print("row number: " + str(index))
      print(row['Ref'])
      print("null")

# Check First Name

Check type (character only)

In [38]:
# check numeric
print(is_string_dtype(df['First_Name']))

True

In [72]:
# check each row
for index, row in df.iterrows():
    if pd.isna(row['First_Name']):
      print("Issue with null")
      print("row number: " + str(index))
      print(row['First_Name'])
          
    else:
      if boolCheckLengthOverLimitInt(row['First_Name'], 20) == True:
        print("Issue with length")
        print("row number: " + str(index))
        print(row['First_Name'])

      if(checkCaseCorrect(row['First_Name']) == False):
        print("Issue with capitilisation")
        print("row number: " + str(index))
        print(row['First_Name'])
    
    # need to search for numbers within
    # print("row " + str(index))
    # if row['First_Name'].isalpha() == False:
    #   print(row['First_Name'])
    #   print("Not all character")

Issue with capitilisation
row number: 5
christabel
Issue with capitilisation
row number: 422
andonis
Issue with capitilisation
row number: 481
1ain
Issue with capitilisation
row number: 553
0wen
Issue with null
row number: 892
nan

# Check Second Name

Check type (character only)

Check max length (40)

Check case (Must be proper case)

Check no space between multiple last names

Check no null